<h2><%= _('Confirmation') %></h2>

<p class='msg'>
  <%= _("Check if the information below is correct.") %>
</p>

<div class='sections'>
  <div id='identification-confirmation' class='section'>
    <%= render partial: 'participa_mais_plugin_steps/confirmation/section_header',
               locals: { name: _('Your information'), step: 0 } %>

    <p id='identified-msg' class='msg hidden'>
      <%= _('Your information will be sent to the agencies.') %>
    </p>
    <p id='anonymous-msg' class='msg hidden'>
      <%= _('This report will be sent anonymously, no one will have access '\
            'to your information.') %>
    </p>

    <div class='section-line'>
      <span class='field-name'><%= _('Name:') %></span>
      <span class='field-value name'></span>
    </div>
    <div class='section-line'>
      <span class='field-name'><%= _('Email:') %></span>
      <span class='field-value email'></span>
    </div>
    <div class='section-line'>
      <span class='field-name'><%= _('Address:') %></span>
      <span class='field-value address'>-</span>
    </div>
  </div>

  <div id='victims-confirmation' class='section'>
    <%= render partial: 'participa_mais_plugin_steps/confirmation/section_header',
               locals: { name: _('Victims'), step: 1 } %>

    <div class='victims-list'>
      <div class='victim entry template'>
        <span class='index'></span>
        <div class='entry-info'>
          <div class='info-row'>
            <span class='info-attr'><%= _('Name:') %></span>
            <span class='victim-name'></span>
          </div>
          <div class='info-row'>
            <span class='info-attr'><%= _('Contact Info:') %></span>
            <span class='victim-contact'></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='offenders-confirmation' class='section'>
    <%= render partial: 'participa_mais_plugin_steps/confirmation/section_header',
               locals: { name: _('Offenders'), step: 2 } %>

    <div class='offenders-list'>
      <div class='offender entry template'>
        <span class='index'></span>
        <div class='entry-info'>
          <div class='info-row'>
            <span class='info-attr'><%= _('Name:') %></span>
            <span class='offender-name'></span>
          </div>
          <div class='info-row'>
            <span class='info-attr'><%= _('Relationship:') %></span>
            <span class='offender-relationship'></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='occurrence-confirmation' class='section'>
    <%= render partial: 'participa_mais_plugin_steps/confirmation/section_header',
               locals: { name: _('Occurrence'), step: 3 } %>

    <div class='section-line'>
      <span class='field-name'><%= _('Date:') %></span>
      <span class='field-value date'></span>
    </div>
    <div class='section-line'>
      <span class='field-name'><%= _('Address:') %></span>
      <span class='field-value address'>-</span>
    </div>
    <div class='section-line'>
      <span class='field-name'><%= _('Details:') %></span>
      <span class='field-value details'></span>
    </div>
  </div>

  <div id='media-files-confirmation' class='section'>

    <%= render partial: 'participa_mais_plugin_steps/confirmation/section_header',
               locals: { name: _('Media Files'), step: 4 } %>

    <p class='no-files-message'><%= _('No media file added.') %></p>

    <%= render partial: 'participa_mais_plugin_steps/confirmation/media_section',
        locals: { name: _('Images'), type: 'image' } %>

    <%= render partial: 'participa_mais_plugin_steps/confirmation/media_section',
        locals: { name: _('Audios'), type: 'audio' } %>

    <%= render partial: 'participa_mais_plugin_steps/confirmation/media_section',
        locals: { name: _('Videos'), type: 'video' } %>

    <%= render partial: 'participa_mais_plugin_steps/confirmation/media_section',
        locals: { name: _('Documents and other files'), type: 'undefined' } %>
  </div>

</div>

<%= button_bar do %>
  <%= button :back, _('Go back'), '#', class: 'previous-step' %>
  <%= submit_button :ok, _('Send'), id: 'submit-denouncement' %>
<% end %>
