<h2><%= _('Offenders') %></h2>

<p class='msg'>
  <%= _("What you know about the possible offender?") %>
</p>


<div id='offenders-list' class='inline-form-list offenders-list'>
  <div class='offender denouncement-item template'>
    <div class='fields'>
      <%= text_field_tag 'offenders[][name]', nil, disabled: true, class: 'offender-name',
                          placeholder: _('Name of offender or aggressor institution') %>
      <%= select_tag 'offenders[][relationship]',
                      options_from_collection_for_select(relationship_list, :first, :last),
                      disabled: true, class: 'offender-relationship',
                      prompt: _('What is the relation of the possible offender with the victim?') %>
    </div>
    <div class='actions'>
      <%= modal_inline_link_to(font_awesome('user-times', _('Remove offender')),
                               '#', '#confirmationRemove-offender',
                               class: 'remove-offender') %>
    </div>
  </div>
</div>

<%= render partial: 'participa_mais_plugin_steps/offender/' +
                          'remove_offender_confirmation' %>

<div id='add-offender-form' class='inline-form'>
  <%= button :add, _('Add more possible offenders'), '#', id: 'add-offender',
                      class: 'add-item' %>
</div>

<div class='errors'>
  <p class='error-msg'><%=_("Invalid Offender") %></p>
  <div class="errors-list">
    <span id="offender-empty">
      <%= _("Please, report at least one possible offender to continue.") %>
    </span>
    <span id="offender-no-information">
      <%= _('At least the a name or relationship info must be informed.') %>
    </span>
  </div>
</div>


<%= button_bar do %>
  <%= button :back, _('Go back'), '#', class: 'previous-step' %>
  <%= button :next, _('Continue'), '#', class: 'continue-btn' %>
<% end %>
