label.toggle-wrapper {
  position: relative;

  &:before {
    width: 30px;
    height: 11px;
    margin: 3px 8px 3px 2px;
    vertical-align: middle;
    background-color: #ddd;
    border: 1px solid #aaa;
    content: '';
    display: inline-block;
    border-radius: 20%;
    box-shadow: inset -1px 1px 2px #aaa;
    transition: all 0.1s ease-in 0.1s;
  }

  &:after {
    background-color: #eee;
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 3px #777;
    transition: transform 0.1s ease-out;
  }

  input[type=checkbox] {
    position: absolute;
    margin: 0;
    opacity: 0;
  }

  &.checked:before {
    background-color: #5c6e84;
    border-color: #5c6e84;
    box-shadow: none;
  }

  &.checked:after {
    transform: translateX(20px);
  }

  &.focused:after {
    outline-style: auto;
    outline-width: 1px;
  }
}

@media only screen and (max-width: 900px) {

  #content #new_step_form {
    div.toggleable-field,
    div.toggleable-select {
      display: block;
      margin-bottom: 20px;

      input[type='text'] {
        width: 90%;
      }

      select {
        width: 100%;
      }

      label.toggle-wrapper {
        display:inline;
      }
    }
  }
}
