.communities-list-block {
  h3.block-title {
    color: #fff;
    background-color: #4cc1ae;
    border-bottom: none !important;
    text-transform: uppercase !important;
    padding: 0 0 0 12px !important;
    margin-bottom: 0px !important;
    span {
      display: flex;
      align-items: center;
      .more, .back {
        flex-grow: 1;
        text-align: right;
        a {
          display: inline-block;
          color: #fff !important;
          background-color: #32a38f;
          padding: 8px 25px !important;
          i { margin: 0; }
        }
      }

      .back { display: none; }
    }
  }

  .highlighted-communities {
    display: flex;
    .community {
      justify-content: center;
      display: inline-flex;
      flex-direction: column;
      color: #fff;
      font-weight: 500;
      @media only screen and (max-width: 540px) { font-size: 10px; }
      text-transform: uppercase;
      flex-grow: 1;
      padding: 20px 8px;
      text-align: center;
      &:nth-child(1) { background-color: #c85549; }
      &:nth-child(2) { background-color: #f4ba02; }
      &:nth-child(3) { background-color: #b8cf30; }
      &:nth-child(4) { background-color: #75d7c6; }
    }
  }

  ul.communities-list {
    list-style: none;
    @media only screen and (max-width: 540px) { padding-left: 20px; }
    li {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .community-image {
        margin-right: 12px;
        a {
          display: inline-block;
          img {
            width: 50px;
          }
        }
      }

      .community-info {
        flex-grow: 1;
        .community-title {
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          a {
            color: #4dc6b5;
            text-decoration: none;
            &:visited, &:hover {
              color: #4dc6b5;
            }
          }
        }

        .num-members, .community-created-at {
          color: #505050;
        }

        .bullet-separator {
          padding: 0 2px;
        }
      }
    }
  }

  .communities-actions {
    display: none;
    text-align: center;
    margin-top: 40px;
    .action {
      display: inline-block;
      width: 130px;
      text-align: center;
      margin-bottom: 10px;
      text-decoration: none;
      img.default-file {
        width: 64px;
        margin-bottom: 4px;
      }

      .action-title {
        color: #2fad97;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }

  .community-header {
    display: flex;
    padding: 20px 20px 0px 20px;
    .community-image {
      margin-right: 10px;
    }

    .community-info {
      flex-grow: 1;
      h2 {
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
      }

      .bullet-separator { padding: 0 2px; }
      .num-members, .community-created-at { color: #505050; }
    }
  }

  p {
    letter-spacing: 0.3px;
    line-height: 1.8;
    padding: 0 20px;
    font-size: 13px;
  }
}

.profile-type-is-community .communities-list-block {
  h3.block-title {
    span {
      .more { display: none; }
      .back { display: block; }
    }
  }

  .communities-actions {
    display: block;
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;

    .action {
      text-align: center;
      width: 64px;
      margin-right: 40px;
      vertical-align: middle;
      @media only screen and (max-width: 540px) {
        font-size: 12px;
        width: 48px;
        img { width: 48px; }
      }

      &.current { opacity: initial !important; }

      &.poll {
        width: 85px;
        img { width: 85px; }
        @media only screen and (max-width: 540px) {
          width: 68px;
          img { width: 68px; }
        }
      }

      .action-title { font-size: 12px; }
    }
  }

  .button-bar {
    height: 36px;
    padding: 0px 20px;

    .button {
      @media only screen and (max-width: 540px) { font-size: 14px; }

      &.join { float: left; }
      &.back { float: right; }
    }
  }
}

.profile-type-is-community body:not(.action-profile-index) {
  .communities-list-block .communities-actions {
    border-bottom: 2px solid #73cfbf;
  }

  .communities-list-block .communities-actions .action {
    opacity: 0.6;
  }
}
