<div id="denouncement-content">
  <h1><%= _('New Denouncement') %></h1>

  <% steps = ['identification', 'victims', 'offender', 'occurrence',
              'media_files','confirmation'] %>

  <% current = 0 %>

  <%= render partial: 'participa_mais_plugin_steps/steps_bar',
             locals: { steps: steps, current: current } %>

  <%= render partial: 'participa_mais_plugin_steps/form',
             locals: { steps: steps, current: current} %>
</div>
