<h1><%= _('Denouncements') %></h1>

<%= form_tag( { controller: 'participa_mais_plugin', action: :search }, class: 'denouncements-search-form', remote: true ) do %>
  <div class="search-field">
    <div class="formfield">
      <%= text_field_tag :protocol, @denouncement.try(:protocol), placeholder: _("Enter denouncement's protocol")  %>
      <%= submit_button :search, _('Search'), id: 'submit-form', style: 'display: none;' %>
    </div>
  </div>
<% end %>

<div id="my-denouncements">
  <%= render partial: 'denouncement' %>
</div>
