<% p = block.owner.is_a?(Community) ? current_person : block.owner %>

<%= block_title((block.view_title +
                 content_tag(:div, link_to(font_awesome(:plus), '#'), class: "more") +
                 content_tag(:div, link_to(font_awesome(:'arrow-left'), profile ? profile.url : p.url), class: "back")
                ).html_safe, block.subtitle) %>

<% if profile.is_a? Person %>
  <ul class="communities-list">
    <% p.communities.each do |community| %>
      <li>
        <div class="community-image">
          <%= link_to(profile_image(community), community.url) %>
        </div>
        <div class="community-info">
          <div class="community-title"><%= link_to community.name, community.url %></div>
          <div class="num-members">
            <% if p.role_in(community) %>
              <%= _(p.role_in(community).name) %>
              <span class="bullet-separator">•</span>
            <% end %>
            <%= _("%d members" % community.members.count) %>
          </div>
          <div class="community-created-at"><%= _("Created at:") %> <%= show_date(community.created_at) %></div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% if profile.is_a? Community %>
  <% community = profile %>
  <div class="community-header">
    <div class="community-image">
      <%= link_to(profile_image(community), community.url) %>
    </div>
    <div class="community-info">
      <h2 class="community-title"><%= link_to community.name, community.url %></h2>
      <div class="num-members">
        <% if p.role_in(community) %>
          <%= _(p.role_in(community).name) %>
          <span class="bullet-separator">•</span>
        <% end %>
        <%= _("%d members" % community.members.count) %>
      </div>
      <div class="community-created-at"><%= _("Created at:") %> <%= show_date(community.created_at) %></div>
    </div>
  </div>

  <p><%= community.description %></p>
<% end %>

<div class="communities-actions">
  <% if profile.is_a? Person %>
    <a class="action">
      <%= image_tag "plugins/participa_mais/images/default-file.png", class: "default-file" %>
      <div class="action-title">
        <%= _("Create community") %>
      </div>
    </a>

    <%= link_to((image_tag("plugins/participa_mais/images/default-file.png", class: "default-file") +
                content_tag(:div, _("See all communities"), class: "action-title")).html_safe,
                { controller: "search", action: "communities" },
                { class: "action" })
    %>
  <% elsif profile.is_a? Community %>
    <%= link_to((image_tag("plugins/participa_mais/images/members.png", class: "default-file") +
                content_tag(:div, _("Members"), class: "action-title")).html_safe,
                { controller: "profile", action: "members" },
                { class: "action #{"current" if action_name == "members"}" })
    %>

    <%= link_to((image_tag("plugins/participa_mais/images/agenda.png", class: "default-file") +
                content_tag(:div, _("Agenda"), class: "action-title")).html_safe,
                { controller: "profile", action: "events" },
                { class: "action #{"current" if action_name == "events"}" })
    %>

    <%= link_to((image_tag("plugins/participa_mais/images/poll.png", class: "default-file") +
                content_tag(:div, _("Poll"), class: "action-title")).html_safe,
                { controller: 'custom_forms_plugin_myprofile' },
                { class: "action poll #{"current" if controller_name == "custom_forms_plugin_myprofile" && action_name == "index"}" })
    %>

    <%= link_to((image_tag("plugins/participa_mais/images/blog.png", class: "default-file") +
                content_tag(:div, _("Blog"), class: "action-title")).html_safe,
                profile.blog.view_url,
                { class: "action #{"current" if action_name == "view_page"}" })
    %>

    <% if profile && current_person.is_member_of?(profile) %>
      <%= link_to((image_tag("plugins/participa_mais/images/meeting-room.png", class: "default-file") +
                  content_tag(:div, _("Meeting Room"), class: "action-title")).html_safe,
                  '#',
                  { class: "action" })
      %>

      <%= link_to((image_tag("plugins/participa_mais/images/default-file.png", class: "default-file") +
                  content_tag(:div, _("Content"), class: "action-title")).html_safe,
                  { controller: "cms", action: "index" },
                  { class: "action #{"current" if controller_name == "cms" && action_name == "index"}" })
      %>

      <%= link_to((image_tag("plugins/participa_mais/images/dialogs.png", class: "default-file") +
                  content_tag(:div, _("Dialogs"), class: "action-title")).html_safe,
                  "#",
                  { class: "action poll" })
      %>

      <%= link_to((image_tag("plugins/participa_mais/images/leave.png", class: "default-file") +
                  content_tag(:div, _("Leave"), class: "action-title")).html_safe,
                  { controller: "profile", action: "leave" },
                  { class: "action" })
      %>
    <% end %>
  <% end %>
</div>

<% if profile && profile.is_a?(Community) && action_name == "index" %>
  <%= button_bar do %>
    <%= button :plus, _('Join'), { action: 'index' }, class: 'join' unless current_person.is_member_of? profile %>
    <%= button :plus, _('Back'), { action: 'index' }, class: 'back' %>
  <% end %>
<% end %>
