<% p = block.owner.is_a?(Community) ? current_person : block.owner %>

<%= block_title((block.view_title +
                 content_tag(:div, link_to(font_awesome(:plus), '#'), class: "more") +
                 content_tag(:div, link_to(font_awesome(:'arrow-left'), p.url), class: "back")
                ).html_safe, block.subtitle) %>

<div class="profile-description">
  <div class="profile-image">
    <%= link_to(profile_image(p), p.url) %>
  </div>

  <div class="profile-description-content">
    <div class="profile-description-header">
      <div class="profile-info">
        <h2><%= link_to p.name, p.url %></h2>
        <h3><%= p.city %></h3>
      </div>

      <div class="edit-profile">
        <%= link_to font_awesome(:edit), { controller: 'profile_editor', action: 'edit', profile: p.identifier } %>
      </div>
    </div>

    <p>
      <%= p.description %>
    </p>
  </div>
</div>

<div class="profile-actions">
  <a class="action <%= "current" if ["content_viewer", "cms"].include? controller_name %>" href="<%= myprofile_path controller: 'cms', action: 'index', profile: p.identifier %>">
    <%= image_tag "plugins/participa_mais/images/default-file.png", class: "default-file" %>
    <div class="action-title">
      <%= _("Content") %>
    </div>
  </a>

  <a class="action">
    <%= image_tag "plugins/participa_mais/images/meeting-room.png", class: "default-file" %>
    <div class="action-title">
      <%= _("Meeting Room") %>
    </div>
  </a>

  <%= link_to((image_tag("plugins/participa_mais/images/poll.png", class: "default-file") +
              content_tag(:div, _("Create poll"), class: "action-title")).html_safe,
              { profile: p.identifier, controller: 'custom_forms_plugin_myprofile' },
              { class: "action #{"current" if ["custom_forms_plugin_myprofile", "custom_forms_plugin_profile"].include? controller_name}" })
  %>

  <%= link_to((image_tag("plugins/participa_mais/images/see-all-profiles.png", class: "default-file") +
              content_tag(:div, _("See all profiles"), class: "action-title")).html_safe,
              p.public_profile_url.merge(action: 'friends'),
              class: "action #{"current" if "friends" == action_name}")
  %>
</div>
