<% if @article.is_a?(Folder) || @article.try(:parent).is_a?(Folder) %>
  <%= labelled_check_box(@article.is_a?(Folder) ?
                         _('Send push notifications on new publications') :
                         _('Send push notifications after publication'),
                         'article[metadata][participa_mais][should_notify]',
                         '1', @article.send_notifications?,
                         disabled: !@article.is_a?(Folder) &&
                                   @article.id.present? &&
                                   @article.published) %>
<% end %>
