<div id='anonymous-denouncement' class='identification-form hidden'>
  <p class='msg'>
    <%= _("Your denouncement will be sent anonymously to the investigation "\
          "agencies, but we need your information to monitor the status and "\
          "report the development back to you.") %>
  </p>

  <%= render partial: 'participa_mais_plugin_steps/identification/use_profile' %>

  <div class='fields'>
    <%= text_field_tag 'person[name]', nil, placeholder: _('Name'),
                       id: 'person-name', class: 'text-person-name',
                       autocomplete: 'off' %>
    <%= text_field_tag 'person[email]', nil, placeholder: _('Email'),
                       id: 'person-email', class: 'text-person-email',
                       autocomplete: 'off' %>
  </div>

  <div class='field-line'>
    <%= toggle _('I would like to be identified to the investigation agencies'),
               'person[identified]', 1, true, id: 'identify-user',
               class: 'check-identify-user' %>
  </div>

  <div class='error-msgs'>
    <p class='error-msg invalid-email'>
      <%= _('Email is not valid') %>
    </p>
    <p class='error-msg required-fields'>
      <%= _('All fields are required') %>
      <%= _('Please fill a name and email') %>
    </p>
  </div>

  <div class='button-bar'>
    <%= button :back, _('Go back'), '#' %>
    <%= button :next, _('Continue'), '#', class: 'continue-btn' %>
  </div>
</div>
